body{
    background-color: aquamarine;
}
.counter{
    display: flex;
    gap: 70px;
    margin-top: 300px;
    justify-content: center;
}
#button{
    width: 70px;
    height: 30px;
    border-radius: 8px;
    border: 0px;
    padding: 10px;
    background-color: orangered;
}
#plus{
    width: 70px;
    height: 30px;
    border-radius: 8px;
    border: 0px;
    background-color: orange;
    padding: 10px;
}
//body{
    display: flex;
    margin: 10vh auto;;

}