*{
    margin: 0;
}
body{
    display: flex;
    background-color: azure;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#box{
    width: 16rem;
    height: 16rem;
    transition: 0.3s;
    background-color: blue;
    cursor: pointer;   
}